<div class="row">
    <div class="col-12">
        <div class="card box-shadow-sm">
            <div class="card-footer">
                <div class="row form-group">
                    <div class="col-12">
                        <h5>Datos Producto :</h5>
                    </div>
                </div>
                <form detail-content [formGroup]="formProductoDescripcion" (ngSubmit)="listarProductoPorDescripcion()">
                    <div class="row form-group">
                        <div class="col-md-6 col-12 form-group">
                            <label for="descripcion"><b>{{'Descripción(*): '}}</b></label>
                            <input type="text" name="descripcion" id="descripcion" formControlName="descripcion"
                                oninput="descripcion.value = descripcion.value.toUpperCase()"
                                maxlength="50" placeholder="Por favor, ingrese la descripción." class="form-control"
                                [ngClass]="{'is-valid': descripcionField?.dirty && !descripcionField?.invalid && !descripcionField?.errors,'is-invalid': descripcionField?.dirty && descripcionField?.invalid && descripcionField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-12 form-group">
                            <div class="my-2 text-left table-responsive">
                                <button type="submit" [disabled]="formProductoDescripcion.invalid"
                                    class="btn btn-info btn-rounded">
                                    <b>{{ "Buscar"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <ng-container>
                            <mat-tab-group mat-align-tabs="center" #revTabGroup class="tab-group"
                                [(selectedIndex)]="selectedTab">
                                <mat-tab>
                                    <section class="tab-container">
                                        <div>
                                            <b>{{'Lista Producto'}}</b>
                                            <button type="submit" (click)="openDetail(1)"
                                                matTooltip="Agregar Nuevo Producto"
                                                class="btn btn-block btn-primary form-control mt-2">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                {{'Agregar Producto'}}
                                            </button>
                                            <table class="table" *ngIf="listaProducto?.length > 0" id="tablaProducto">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Descripción</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Existencia</th>
                                                        <th scope="col">Modulo</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let producto of listaProducto | paginate: {id:'paginacionMatutino', itemsPerPage: itemsRegistros, currentPage: page } ; let index=index">
                                                        <td>{{index+1}}</td>
                                                        <td>{{producto?.descripcion}}</td>
                                                        <td>{{producto?.precioCosto}}</td>
                                                        <td>{{producto?.numExistenciaActual}}</td>
                                                        <td>{{producto?.modulo?.nemonico}}</td>
                                                        <td>
                                                            <div class="btn-group" role="group"
                                                                aria-label="Basic example">
                                                                <button (click)="openEditarDetail(producto)"
                                                                    matTooltip="Editar Producto" type=" button"
                                                                    class="btn btn-primary" rippleEffect round><i
                                                                        class="fa fa-pencil"
                                                                        (click)="openEditarDetail(producto)"></i></button>
                                                                <button (click)="openRemoverDetail(producto)"
                                                                    matTooltip="Eliminar Producto" type="button"
                                                                    class="btn btn-danger" rippleEffect><i
                                                                        class="fa fa-trash"
                                                                        (click)="openRemoverDetail(producto)"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row mt-5" *ngIf="listaProducto?.length > itemsRegistros">
                                                <div class="col-12 text-center">
                                                    <pagination-controls id="paginacionMatutino" class="paginacion"
                                                        [responsive]="true" [autoHide]="true" previousLabel="Anterior"
                                                        nextLabel="Siguiente" (pageChange)="page = $event"
                                                        screenReaderCurrentLabel="Tú estas en la página:">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="listaProducto.length === 0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>No hay datos disponibles</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form-producto [productoEditar]="productoSeleccionado" [codigoChild]="codigo" [descripcionChild]="descripcion"
    [listaProductoChild]="listaProducto" (listaProducto)="listaProductoActualizada($event)"
    (close)="closeDetail($event)" *ngIf="showDetail">
</app-form-producto>

<ng-template #modal_confirm_delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Confirmar borrado.'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('no')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'¿Quieres borrar el registro?'}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">{{'Si'}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">{{'No'}}</button>
    </div>
</ng-template>
<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Exito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'El registro ha sido borrada con éxito'}}
    </div>
</ng-template>

<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'Ha habido un problema al borrar el registro'}}
    </div>
</ng-template>