<div class="row">
    <div class="col-12">
        <div class="card box-shadow-sm">
            <div class="card-footer">
                <div class="row form-group">
                    <div class="col-12">
                        <h5><b>Datos Usuario Aplicación Rol:</b></h5>
                    </div>
                </div>
                <form detail-content [formGroup]="formUsuarioRolAplicacion"
                    (ngSubmit)="listarUsuarioAplicacionPorCodUsuario()">
                    <div class="row form-group">
                        <div class="col-md-6 col-12 form-group">
                            <label for="identificacion">
                                <b>{{'Identificación(*): '}} {{usuario?.persona?.nombres}} {{usuario?.persona?.apellidos}}</b>
                            </label>
                            <input type="text" name="identificacion" id="identificacion"
                                formControlName="identificacion" (keypress)="validateFormat($event)" maxlength="10"
                                placeholder="Por favor, ingrese la identificación." class="form-control"
                                (keyup)="onKey($event)"
                                [ngClass]="{'is-valid': identificacionField?.dirty && !identificacionField?.invalid && !identificacionField?.errors,'is-invalid': identificacionField?.dirty && identificacionField?.invalid && identificacionField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="identificacionField?.errors?.['required']">{{"Requerido"}}</span>
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="identificacionField?.errors?.['cedula_invalid']">{{"No es una cédula
                                    valida."}}</span>
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="identificacionField?.errors?.['minlength']">{{"Debe ingresar al menos 10
                                    dígitos."}}</span>
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="identificacionField?.errors?.['maxlength']">{{"Solo puede ingresar 10
                                    dígitos."}}</span>
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="identificacionField?.errors?.['pattern']">{{"Por favor, ingrese
                                    números."}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-12 form-group">
                            <div class="my-2 text-left table-responsive">
                                <button type="submit" [disabled]="identificacionField?.invalid"
                                    class="btn btn-info btn-rounded">
                                    <b>{{ "Buscar"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-6 flex justify-end card profile-header mb-2 was-validated">
                            <label for="usuarioAplicacion"><b>{{'Aplicación (*):'}}</b></label>
                            <select [compareWith]="compararUsuarioAplicacion" class="custom-select"
                                (change)="listarUsuarioRolAplicacionPorCodUsuarioYCodAplicacion()" formControlName="usuarioAplicacion"
                                name="usuarioAplicacion" id="usuarioAplicacion">
                                <option [value]="''" selected>Seleccionar aplicación</option>
                                <option *ngFor="let usuarioAplicacion of listaUsuarioAplicacion" [ngValue]="usuarioAplicacion">
                                    {{usuarioAplicacion.aplicacion?.nombre}}</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                        </div>
                        <div class="col-6 flex justify-end card profile-header mb-2 was-validated">
                            <label for="usuarioRolAplicacion"><b>{{'Rol Aplicación (*):'}}</b></label>
                            <select [compareWith]="compararUsuarioRolAplicacion" class="custom-select"
                                (change)="listarRolAplicacionRecursoPorRolAplicacion()" formControlName="usuarioRolAplicacion"
                                name="usuarioRolAplicacion" id="usuarioRolAplicacion">
                                <option [value]="''" selected>Seleccionar rol</option>
                                <option *ngFor="let usuarioRolAplicacion of listaUsuarioRolAplicacion" [ngValue]="usuarioRolAplicacion">
                                    <b>{{usuarioRolAplicacion?.rolAplicacion?.nombreRol}}</b></option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <ng-container>
                            <mat-tab-group mat-align-tabs="center" #revTabGroup class="tab-group"
                                [(selectedIndex)]="selectedTab">
                                <mat-tab>
                                    <section class="tab-container">
                                        <div> <br>
                                            <b>{{'Lista Usuario - Aplicacion - Rol y sus Recursos: '}}
                                            {{usuario?.persona?.nombres}} {{usuario?.persona?.apellidos}} -
                                            {{nombreAplicacion}} - {{nombreRolAplicacion}}</b>
                                            <button type="submit" (click)="openDetail()"
                                                [disabled]="identificacionField?.invalid"
                                                matTooltip="Agregar Nuevo UsuarioRolAplicacion"
                                                class="btn btn-block btn-primary form-control mt-2">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                {{'Agregar Aplicación Rol Recurso'}}
                                            </button>
                                            <table class="table" *ngIf="listaRolAplicacionRecurso.length > 0"
                                                id="tablaUsuarioRolAplicacion">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Recurso</th>
                                                        <th scope="col">Url</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let rolAplicacionRecurso of listaRolAplicacionRecurso | paginate: {id:'paginacionMatutino', itemsPerPage: itemsRegistros, currentPage: page } ; let index=index">
                                                        <td>{{index+1}}</td>
                                                        <td>{{rolAplicacionRecurso?.recurso?.nombre}}</td>
                                                        <td>{{rolAplicacionRecurso?.recurso?.url}}</td>
                                                        <td>
                                                            <div class="btn-group" role="group"
                                                                aria-label="Basic example">
                                                                <button (click)="openEditarDetail(rolAplicacionRecurso)"
                                                                    matTooltip="Editar UsuarioRolAplicacion"
                                                                    type=" button" class="btn btn-primary" rippleEffect
                                                                    round><i class="fa fa-pencil"
                                                                        (click)="openEditarDetail(rolAplicacionRecurso)"></i></button>
                                                                <button
                                                                    (click)="openRemoverDetail()"
                                                                    matTooltip="Eliminar UsuarioRolAplicacion"
                                                                    type="button" class="btn btn-danger" rippleEffect><i
                                                                        class="fa fa-trash"
                                                                        (click)="openRemoverDetail()"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row mt-5"
                                                *ngIf="listaRolAplicacionRecurso.length > itemsRegistros">
                                                <div class="col-12 text-center">
                                                    <pagination-controls id="paginacionMatutino" class="paginacion"
                                                        [responsive]="true" [autoHide]="true" previousLabel="Anterior"
                                                        nextLabel="Siguiente" (pageChange)="page = $event"
                                                        screenReaderCurrentLabel="Tú estas en la página:">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="listaRolAplicacionRecurso.length === 0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>No hay datos disponibles</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form-usuarioRolAplicacion [rolAplicacionRecursoEditar]="rolAplicacionRecursoSeleccionado" [codigoChild]="codigo"
    [codAplicacionChild]="codAplicacion" [listaRolAplicacionRecursoChild]="listaRolAplicacionRecurso"
    [nombreAplicacionChild]="nombreAplicacion" [aplicacionChild]="aplicacion"
    [codRolAplicacionChild]="codRolAplicacion" [codUsuarioChild]="codUsuario"
    [codUsuarioAplicacionChild]="codUsuarioAplicacion"
    (listaRolAplicacionRecurso)="listaRolAplicacionRecursoActualizada($event)" (close)="closeDetail($event)"
    *ngIf="showDetail">
</app-form-usuarioRolAplicacion>

<ng-template #modal_confirm_delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Confirmar borrado.'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('no')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'¿Quieres borrar el registro?'}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">{{'Si'}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">{{'No'}}</button>
    </div>
</ng-template>

<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Exito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'El registro ha sido borrada con éxito'}}
    </div>

</ng-template>

<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'Ha habido un problema al borrar el registro'}}
    </div>
</ng-template>