<div class="row">
    <div class="col-12">
        <div class="card box-shadow-sm">
            <div class="card-footer">
                <div class="row form-group">
                    <div class="col-12">
                        <h5>Datos Rol Aplicación Recurso:</h5>
                    </div>
                </div>
                <form detail-content [formGroup]="formRolAplicacionRecurso">
                    <div class="row form-group">
                        <div class="col-6 flex justify-end card profile-header mb-2 was-validated">
                            <label for="aplicacion">{{'Aplicación (*):'}}</label>
                            <select [compareWith]="compararAplicacion" class="custom-select" (change)="listarRolAplicacionRecursoPorAplicacion()"
                                formControlName="aplicacion" name="aplicacion" id="aplicacion">
                                <option [value]="''" selected>Seleccionar aplicación</option>
                                <option *ngFor="let aplicacion of listaAplicacion" [ngValue]="aplicacion">
                                    {{aplicacion.nombre}}</option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <ng-container>
                            <mat-tab-group mat-align-tabs="center" #revTabGroup class="tab-group"
                                [(selectedIndex)]="selectedTab">
                                <mat-tab>
                                    <section class="tab-container">
                                        <div>
                                            {{'Lista Rol Aplicacion Recurso'}}
                                            <button type="submit" (click)="openDetail(1)"
                                                [disabled]="formRolAplicacionRecurso?.invalid" matTooltip="Agregar Nuevo RolAplicacionRecurso"
                                                class="btn btn-block btn-primary form-control mt-2">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                {{'Agregar Rol Aplicacion Recurso'}}
                                            </button>
                                            <table class="table" *ngIf="listaRolAplicacionRecurso.length > 0" id="tablaRolAplicacionRecurso">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Rol</th>
                                                        <th scope="col">Recurso</th>
                                                        <th scope="col">Url</th>
                                                        <th scope="col">Estado</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let rolAplicacionRecurso of listaRolAplicacionRecurso | paginate: {id:'paginacionMatutino', itemsPerPage: itemsRegistros, currentPage: page } ; let index=index">
                                                        <td>{{index+1}}</td>
                                                        <td>{{rolAplicacionRecurso?.rolAplicacion?.nombreRol}}</td>
                                                        <td>{{rolAplicacionRecurso?.recurso?.nombre}}</td>
                                                        <td>{{rolAplicacionRecurso?.recurso?.url}}</td>
                                                        <td>{{rolAplicacionRecurso.estado}}</td>
                                                        <td>
                                                            <div class="btn-group" role="group"
                                                                aria-label="Basic example">
                                                                <button (click)="openEditarDetail(rolAplicacionRecurso)"
                                                                    matTooltip="Editar RolAplicacionRecurso" type=" button"
                                                                    class="btn btn-primary" rippleEffect round><i
                                                                        class="fa fa-pencil"
                                                                        (click)="openEditarDetail(rolAplicacionRecurso)"></i></button>
                                                                <button (click)="openRemoverDetail(rolAplicacionRecurso)"
                                                                    matTooltip="Eliminar RolAplicacionRecurso" type="button"
                                                                    class="btn btn-danger" rippleEffect><i
                                                                        class="fa fa-trash"
                                                                        (click)="openRemoverDetail(rolAplicacionRecurso)"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row mt-5" *ngIf="listaRolAplicacionRecurso.length > itemsRegistros">
                                                <div class="col-12 text-center">
                                                    <pagination-controls id="paginacionMatutino" class="paginacion"
                                                        [responsive]="true" [autoHide]="true" previousLabel="Anterior"
                                                        nextLabel="Siguiente" (pageChange)="page = $event"
                                                        screenReaderCurrentLabel="Tú estas en la página:">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="listaRolAplicacionRecurso.length === 0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>No hay datos disponibles</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form-rolAplicacionRecurso [rolAplicacionRecursoEditar]="rolAplicacionRecursoSeleccionado" [codigoChild]="codigo"
    [codigoAplicacionChild]="codigoAplicacion" [listaRolAplicacionRecursoChild]="listaRolAplicacionRecurso"
    [nombreAplicacionChild]="nombreAplicacion"
    (listaRolAplicacionRecurso)="listaRolAplicacionRecursoActualizada($event)" (close)="closeDetail($event)" *ngIf="showDetail">
</app-form-rolAplicacionRecurso>

<ng-template #modal_confirm_delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Confirmar borrado.'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('no')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'¿Quieres borrar el registro?'}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">{{'Si'}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">{{'No'}}</button>
    </div>
</ng-template>

<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Exito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'El registro ha sido borrada con éxito'}}
    </div>

</ng-template>

<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'Ha habido un problema al borrar el registro'}}
    </div>
</ng-template>