<app-detail (close)="closeDetail($event)">
    <h1 detail-title><strong>{{rolAplicacionRecursoEditar ?'EDITAR':'AGREGAR'}}</strong></h1>
    <form detail-content [formGroup]="formRolAplicacionRecurso" (ngSubmit)="addRegistro()">
        <div class="row form-group">
            <div class="col-12">
                <label for="nombreAplicacion">{{'Aplicacion(*): '}}</label>
                <input type="text" name="nombreAplicacion" formControlName="nombreAplicacion" class="form-control"
                    id="nombreAplicacion" disabled>
            </div>
            <div class="col-12">
                <label></label>
            </div>
            <div class="col-12">
                <label for="rolAplicacion">{{'Rol Aplicación(*):'}}</label>
                <select class="custom-select" formControlName="rolAplicacion" name="rolAplicacion" id="rolAplicacion"
                    [compareWith]="compararRolAplicacion">
                    <option [value]="''" selected>Seleccionar rol aplicación</option>
                    <option *ngFor="let rolAplicacion of listaRolAplicacion" [ngValue]="rolAplicacion">
                        {{rolAplicacion.nombreRol}}</option>
                </select>
                <div class="valid-feedback">
                    <span>{{ "Exito"}}</span>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-12">
                <label for="recurso">{{'Recurso(*):'}}</label>
                <select class="custom-select" formControlName="recurso" name="recurso" id="recurso"
                    [compareWith]="compararRecurso">
                    <option [value]="''" selected>Seleccionar recurso</option>
                    <option *ngFor="let recurso of listaRecurso" [ngValue]="recurso">
                        {{recurso.nombre}}</option>
                </select>
                <div class="valid-feedback">
                    <span>{{ "Exito"}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-block btn-primary" [disabled]="formRolAplicacionRecurso?.invalid">
                    {{rolAplicacionRecursoEditar?'GUARDAR':'GUARDAR'}}</button>
            </div>
        </div>
    </form>

</app-detail>
<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Éxito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{rolAplicacionRecursoEditar ?'Se ha actualizado el registro correctamente.':'Se ha agregado el registro
        correctamente.'}}
    </div>
</ng-template>
<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{rolAplicacionRecursoEditar?'Ha habido un problema al actualizar el registro.':'Ha habido un problema al añadir
        el
        registro.'}}
    </div>
</ng-template>