<app-detail (close)="closeDetail($event)">
    <h1 detail-title><strong>{{productoEditar ?'EDITAR':'AGREGAR'}}</strong></h1>
    <form detail-content [formGroup]="formProducto" (ngSubmit)="addRegistro()">
        <div class="container" style="border: 0px solid blue; box-shadow: 0px 10px 10px black">
            <div class="row form-group">
                <div class="col-12">
                    <b>
                        <h3>Datos Producto</h3>
                    </b>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12 flex justify-end card profile-header mb-2 was-validated">
                    <label for="codModulo"><b>{{'Modulo(*): '}}</b></label>
                    <select name="codModulo" formControlName="codModulo" required placeholder="Seleccione Modulo..."
                        class="form-control mr-sm-2" id="codModulo">
                        <option [value]="" selected>Seleccionar Modulo</option>
                        <option *ngFor="let modulo  of listaModulo" [value]="modulo.codigo">
                            <span>{{modulo?.nemonico}}</span>
                        </option>
                    </select>
                    <div class="valid-feedback"></div>
                    <div class="invalid-feedback">Por favor seleccione una opción.</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-12">
                    <label for="descripcion"><b>{{'Nombre(*): '}}</b></label>
                    <input type="text" name="descripcion" formControlName="descripcion" class="form-control"
                        id="descripcion" placeholder="Por favor, ingrese la nombre."
                        oninput="descripcion.value = descripcion.value.toUpperCase()"
                        [ngClass]="{'is-valid': descripcionField?.dirty && !descripcionField?.invalid && !descripcionField?.errors, 'is-invalid': descripcionField?.dirty && descripcionField?.invalid && descripcionField?.errors}">
                    <div class="valid-feedback">
                        <span>{{ "Exito"}}</span>
                    </div>
                    <div class="invalid-feedback">
                        <span *ngIf="descripcionField?.errors?.['required']">{{"Requerido"}}</span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <label for="precioCosto"><b>{{'Precio Venta(*):'}}</b></label>
                    <input type="number" name="precioCosto" formControlName="precioCosto" class="form-control"
                        id="precioCosto" placeholder="999.99" step="0.01" min="0.01"
                        [ngClass]="{'is-valid': precioCostoField?.dirty && !precioCostoField?.invalid && !precioCostoField?.errors && (precioCostoField?.value > precioCostoField?.value), 'is-invalid': precioCostoField?.dirty && precioCostoField?.invalid && precioCostoField?.errors  && !(precioCostoField?.value > precioCostoField?.value)}">
                    <div class="valid-feedback">
                        <span>{{ "Exito"}}</span>
                    </div>
                    <div class="invalid-feedback">
                        <span *ngIf="precioCostoField?.errors?.['required']">{{"Requerido"}}</span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="numExistenciaActual"><b>{{'Existencia(*):'}}</b></label>
                    <input type="number" name="numExistenciaActual" formControlName="numExistenciaActual" class="form-control" id="numExistenciaActual"
                        placeholder="999" step="001" min="001"
                        [ngClass]="{'is-valid': numExistenciaActualField?.dirty && !numExistenciaActualField?.invalid && !numExistenciaActualField?.errors && (numExistenciaActualField?.value > numExistenciaActualField?.value), 'is-invalid': numExistenciaActualField?.dirty && numExistenciaActualField?.invalid && numExistenciaActualField?.errors  && !(numExistenciaActualField?.value > numExistenciaActualField?.value)}">
                    <div class="valid-feedback">
                        <span>{{ "Exito"}}</span>
                    </div>
                    <div class="invalid-feedback">
                        <span *ngIf="numExistenciaActualField?.errors?.['required']">{{"Requerido"}}</span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-6">
                    <label for="precioMayoreo"><b>{{'Precio Mayoreo:'}}</b></label>
                    <input type="number" name="precioMayoreo" formControlName="precioMayoreo" class="form-control"
                        id="precioMayoreo" placeholder="999.99" step="0.01" min="0.01"
                        [ngClass]="{'is-valid': precioMayoreoField?.dirty && !precioMayoreoField?.invalid && !precioMayoreoField?.errors && (precioMayoreoField?.value > precioMayoreoField?.value), 'is-invalid': precioMayoreoField?.dirty && precioMayoreoField?.invalid && precioMayoreoField?.errors  && !(precioMayoreoField?.value > precioMayoreoField?.value)}">
                    <div class="valid-feedback">
                        <span>{{ "Exito"}}</span>
                    </div>
                    <div class="invalid-feedback">
                        <span *ngIf="precioMayoreoField?.errors?.['required']">{{"Requerido"}}</span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="numExistenciaMinima"><b>{{'Existencia Mínima:'}}</b></label>
                    <input type="number" name="numExistenciaMinima" formControlName="numExistenciaMinima" class="form-control" id="numExistenciaMinima"
                        placeholder="999" step="001" min="001"
                        [ngClass]="{'is-valid': numExistenciaMinimaField?.dirty && !numExistenciaMinimaField?.invalid && !numExistenciaMinimaField?.errors && (numExistenciaMinimaField?.value > numExistenciaMinimaField?.value), 'is-invalid': numExistenciaMinimaField?.dirty && numExistenciaMinimaField?.invalid && numExistenciaMinimaField?.errors  && !(numExistenciaMinimaField?.value > numExistenciaMinimaField?.value)}">
                    <div class="valid-feedback">
                        <span>{{ "Exito"}}</span>
                    </div>
                    <div class="invalid-feedback">
                        <span *ngIf="numExistenciaMinimaField?.errors?.['required']">{{"Requerido"}}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-block btn-primary" [disabled]="formProducto?.invalid">
                        {{productoEditar?'GUARDAR':'GUARDAR'}}</button>
                </div>
            </div>
        </div>
    </form>
</app-detail>
<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Éxito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{productoEditar ?'Se ha actualizado el registro correctamente.':'Se ha agregado el registro correctamente.'}}
    </div>
</ng-template>
<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{productoEditar?'Ha habido un problema al actualizar el registro.':'Ha habido un problema al añadir el
        registro.'}}
    </div>
</ng-template>